
/GerenciamentoUsuario.Api/appsettings.Development.json
/GerenciamentoUsuario.ConsumerService/appsettings.Development.json

/.vs/Gerenciamento-Usuario-Hexagonal/FileContentIndex
/.vs/Gerenciamento-Usuario-Hexagonal/v17
/.vs/Gerenciamento-Usuario-Hexagonal/DesignTimeBuild

/GerenciamentoUsuario.Api/bin
/GerenciamentoUsuario.Api/obj
/GerenciamentoUsuario.ConsumerService/bin
/GerenciamentoUsuario.ConsumerService/obj
/GerenciamentoUsuario.Application/bin
/GerenciamentoUsuario.Application/obj
/GerenciamentoUsuario.DB/bin
/GerenciamentoUsuario.DB/obj
/GerenciamentoUsuario.Domain/bin
/GerenciamentoUsuario.Domain/obj
/GerenciamentoUsuario.KafkaProducer/bin
/GerenciamentoUsuario.KafkaProducer/obj
